.App {
  text-align: center;
}

html {
  background-color: salmon;
  font-weight: 125%;
}

button {
  border: none;
  background-color: lime;
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 0.3s;
}

button:hover,
button:focus {
  background-color: indigo;
  color: white;
}

li {
  margin-left: 5rem;
  text-align: left;
  list-style: none;
}